<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Go HTMX </title>
        <script 
            src="https://unpkg.com/htmx.org@2.0.2" 
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" 
            crossorigin="anonymous">
        </script>
    </head>
    <nav>
        <ul>
            <li><a href="/" hx-get="/" hx-target="main">Home</a></li>
            <li><a href="/about" hx-get="/about" hx-target="main">About</a></li>
        </ul>
    </nav>
    
    <body>
        <h1>testy</h1>
        <ul id="todo-list">
            {{range.Todos}} {{block "todo-list-element" .}}
            <li>{{.Message}}</li>
            {{end}} {{end}}
        </ul>

        <form hx-swap="beforeend" hx-target="#todo-list" hx-post="/add-todo">
            <label for="message">Message: </label>
            <input type="text" id="message" name="message" />
            <button type="submit">submit</button>
        </form>
    </body>
</html>